:root {
    --main_color: rgb(0, 0, 0);
    --secondary_color: rgb(39, 39, 39);
    --text_color: rgb(255, 255, 255);
    --button_color: rgb(48, 48, 48);
    --gray_text_color: rgb(180, 180, 180);
}

body {
    background-color: black;
    color: var(--text_color);
    font-family: "Rubik", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*
.seila h1 {
    position: absolute;
    top: 0;
    width: 41%;
}
*/

.container__button {
    background-color: var(--button_color);
    border-radius: 5px;
    padding: 1em;
    color: var(--text_color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 25px;
}

.container__button:visited {
    color: var(--text_color);
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--text_color)
}

.container_img {
    margin: 3em 0 4em 0;
    transform: scale(1);
}

.container_box {
    margin: 0 6em;
}

.container_secondary {
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.paragrafo {
    font-size: 150%;
    margin: 7em 0 0 0;
    color: var(--gray_text_color)
}

.tertiary {
    align-items: center;
    margin: 0 7em;
}

.h2 {
    font-weight: 700;
    font-size: 52px;
}

.paragrafo2 {
    color: rgb(180, 180, 180);
    font-size: 130%;
    margin-top: 1em;
}

.tertiary_image {
    transform: scale(1.2);
}

.planos {
    display: inline-block;

}

.titlee {
    font-size: 500%;
    margin: 2em 0;
}

.tabela {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10em 0 10em 0;
}

li {
    list-style: none;
}

.container_planos {
    display: flex;
    justify-content: center;
    align-content: center;
}

.price_decoration {
    background-color: var(--secondary_color);
    padding: 2em;
    border-radius: 40px;
}

.cinza {
    color: var(--gray_text_color);
    margin-top: 3%;
    font-size: 130%;
}

.text {
    margin-top: 10%;
    font-size: 150%
}

.tet {
    border-top: 2px solid var(--text_color);
    margin-top: 10%;
    padding-top: 2%;
}

.h2 {
    font-size: 270%;
}

.price_button {
    background-color: var(--button_color);
    border-radius: 5px;
    padding: 1em;
    color: var(--text_color);
    display: block;
    text-decoration: none;
    margin-top: 3em;
    font-size: 20px;
    text-align: center;
}

.price_button:hover {
    background-color: var(--button_color);
    border-radius: 5px;
    box-shadow: 0 5px 3px rgb(197, 197, 197);
    padding: 1em;
    color: var(--text_color);
    display: block;
    text-decoration: none;
    margin-top: 3em;
    font-size: 20px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    width: 140px;
    margin: 0 0 2em;
}

.footer_list {
    display: flex;
    margin: 0 0 1em;
}

.list_link a {
    text-decoration: none;
    color: var(--text_color);
    margin: 2em 2em 1em 2em;
    font-size: 25px;
}

.list_link a:hover {
    color: var(--gray_text_color);
}

.footer_text {
    color: var(--gray_text_color);
    text-align: center;
    margin: 0 0 1em;
    font-size: 20px;
}

